.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
  height: 100vh;
}

.form {
  padding: 24px;
  width: 300px;
}

.input {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
}

.input-unit {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 8px;
}

.error-message {
  word-wrap: break-word; 
  max-width: 100%;
  margin-top: 24px;
  color: red;
  font-size: small;
}
